body {
    margin: 0;
    padding: 0;
    font-family: 'Marga', sans-serif;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
    background-color: #eee;
}

/* logo */
.logo {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.logo-web {
    color: orange;
}

/* lisk list */
ul {
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.15s, border-bottom 0.5s;
}

a:hover {
    color: orange;
    border-bottom: 1px double orange;
}

/* button navbar */
.btn-login-signup {
    display: flex;
    gap: 20px;
    align-items: center;
}

.btn-sign-up {
    background-color: orange;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    color: white;
    height: 30px;
    width : 80px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.btn-sign-up:hover {
    background-color: rgb(240, 156, 0);
}

.btn-sign-up:active {
    background: orange;
}

.btn-login {
    background-color: orange;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    color: white;
    height: 30px;
    width : 80px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.btn-login:hover {
    background-color: rgb(240, 156, 0);
}

.btn-login:active {
    background: orange;
}


.btn-profil {
    background-color: orange;
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

/* page of hero */
.hero {
    background-image: url('../images/house.jpg');
    background-color: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 200px;
    display: flex;
    justify-content: center;
    padding: 15%;
    
}

/* contaner in hero */
div.container{
    background-color: rgba(255, 255, 255, 0.516);
    border-radius: 10px;
    height: 300px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap : 100px;
}

.line {
    background-color: orange;
    height: 2px;
    width: 200px;
}

p.text-hero {
    color: black;
}

img {
    height: 200px;
    width: 300px;
}

.btn-sumbit {
    background: orange;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn-sumbit:hover {
    background: rgb(240, 156, 0);
}

.btn-sumbit:active {
    background-color: orange;
}


/* Section More Information */
.more-information {
    background-color: whitesmoke;
    display: block;
}

.header {
    display: flex;
    justify-content: center;
    align-items : center;
    padding: 50px;
}

.header {
    font-size : 30px;
    font-weight: 900;
}

/* Section More Information -> container-card */
.container-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding : 0px 20px 50px 20px ;
}

.container-card img {
    height: 150px;
    width: 250px;
    transition: scale 0.15;
}

.container-card img:hover {
    scale: 0.95;
}

.card p {
    max-width: 250px;
}

span.bold {
    font-weight: bold;
}

/* Section quote */
div.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    height : 500px;
}

div.container-quote {
    border-radius: 10px;
    padding: 100px 150px 100px 150px;
}

p.text {
    color: black;
    font-style: italic;
}

p.text-author {
    text-align: right;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
}

/* call to action */

div.call-to-action  {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

div.container-call {
    background-color: rgb(0, 123, 255);
    border-radius: 10px;
    display: flex;
    justify-content : space-between;
    padding: 50px;
    width: 700px;
}


span.bold-call {
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.text-call  {
    color: white;
    line-height: 25px;
}

div.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.btn-signup-call {
    background: rgb(0, 123, 255);
    border: 1px solid white;
    border-radius: 10px;
    width: 130px;
    padding: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.15s;
}

button.btn-signup-call:hover{
    background-color: white;
    color: black;
}

/* footer */
div.footer {
    background-color: rgb(0, 78, 162);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 30px;
}

.bottom {
    color: white;
    font-size: 15px;
}
